Techshop.Aplication/Web References/wsJadlogConsulta/TrackingBean.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://jadlogEdiws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://jadlogEdiws" targetNamespace="http://jadlogEdiws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://jadlogEdiws">
      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CodCliente" type="xsd:string" />
            <xsd:element name="Password" type="xsd:string" />
            <xsd:element name="NDs" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="consultarReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPedido">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CodCliente" type="xsd:string" />
            <xsd:element name="Password" type="xsd:string" />
            <xsd:element name="NDs" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPedidoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="consultarPedidoReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultarResponse">
    <wsdl:part name="parameters" element="impl:consultarResponse" />
  </wsdl:message>
  <wsdl:message name="consultarPedidoRequest">
    <wsdl:part name="parameters" element="impl:consultarPedido" />
  </wsdl:message>
  <wsdl:message name="consultarRequest">
    <wsdl:part name="parameters" element="impl:consultar" />
  </wsdl:message>
  <wsdl:message name="consultarPedidoResponse">
    <wsdl:part name="parameters" element="impl:consultarPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="TrackingBean">
    <wsdl:operation name="consultar">
      <wsdl:input name="consultarRequest" message="impl:consultarRequest" />
      <wsdl:output name="consultarResponse" message="impl:consultarResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarPedido">
      <wsdl:input name="consultarPedidoRequest" message="impl:consultarPedidoRequest" />
      <wsdl:output name="consultarPedidoResponse" message="impl:consultarPedidoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackingBeanSoapBinding" type="impl:TrackingBean">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="consultarRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPedido">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="consultarPedidoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarPedidoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingBeanService">
    <wsdl:port name="TrackingBean" binding="impl:TrackingBeanSoapBinding">
      <wsdlsoap:address location="http://www.jadlog.com.br:8080/JadlogEdiWs/services/TrackingBean" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>